.ui-datepicker, .ui-datepicker table, .ui-datepicker tr, .ui-datepicker td, .ui-datepicker th {
padding: 0;
border-spacing: 0;
}


.container {
    margin: 20px auto;
    width: 400px;
    height: auto;
    text-align: center;
    padding: 4px;

    background: #bebfc0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    vertical-align: baseline;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
}
#calendar {
    margin: 5px;
}

#calendar .ui-datepicker {
    background: #f1f1f1;
    width: auto;
    height: auto;
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    color: #222;
    border-radius: 0 0 8px 8px;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    background: #cb8e28;
    border-radius: 0 0 8px 8px;
    border: solid 3px #cb8e28;
    width: 94%;
}

.ui-datepicker-title {
    text-align: center;
    background: #f1f1f1;
    margin: 0;
    padding: 1.5% 0 1.5% 0;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

.ui-datepicker thead {
    line-height: 53px;
}

.ui-state-default, .ui-datepicker-calendar thead tr th{
    border: solid 1px #cb8e28;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    text-align: center;
    width: 53px;
    line-height: 53px;
    color: black;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #a59a9b;
}

.ui-datepicker-calendar .ui-state-hover {
    background: white;
}

.ui-datepicker-calendar .ui-state-active {
    background: #e49252;
    position: relative;
}

.ui-state-default {
    background: #f1e5e5;
    border-radius: 0 0 7px 0;
}

.ui-datepicker-other-month .ui-state-default{
    background: #c8aeae;
    border-radius: 7px 0 0 0;
}