.ui-datepicker, .ui-datepicker table, .ui-datepicker tr, .ui-datepicker td, .ui-datepicker th {
padding: 0;
border-spacing: 0;
}

#calendar .ui-datepicker {
    width: 400px;
    height: auto;
    margin: 5px auto 0;
    font: 16px 'Helvetica', sans-serif;
    color: #222;
    border-radius: 8px;
    border: solid 3px #cb8e28;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 94%;
    margin: 0 auto 3%;
}

.ui-datepicker-title {
    text-align: center;
    background: #f1f1f1;
    border-radius: 8px 8px 0 0;
    margin: 0;
    padding: 1.5% 0 1.5% 0;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

.ui-datepicker thead {
    line-height: 53px;
}

.ui-state-default, .ui-datepicker-calendar thead tr th{
    border: solid 1px #e49252;
}

.ui-datepicker-calendar thead tr th{
    border-bottom:  solid 2px #cb8e28;
}

.ui-datepicker tbody {
    background: #f1e5e5;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    text-align: center;
    width: 53px;
    line-height: 53px;
    color: black;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #a59a9b;
}

.ui-datepicker-calendar .ui-state-hover {
    background: white;
}

.ui-datepicker-calendar .ui-state-active {
    background: #e49252;
    position: relative;
}

.ui-datepicker-other-month {
    background: #c8aeae;
}